# === Entornos virtuales ===
venv/
.venv/
env/
ENV/

# === Variables de entorno / Secretos ===
.env
.env.local
.env.*.local

# === Django ===
*.pyc
__pycache__/
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/

# === IDE ===
.idea/
.vscode/
*.swp
*.swo

# === Sistema Operativo ===
.DS_Store
Thumbs.db

# === Logs ===
*.log
